{{#if addNewQuestion}}
  <form class="well" id="newQuestion">
    <h1>New Question</h1>
    <div class="form-group">
      <label for="author">Email</label>
      {{input value=author id="author" class="form-control"}}
    </div>
    <div class="form-group">
      <label for="mainQuestion">Question</label>
      {{input value=mainQuestion id="mainQuestion" class="form-control"}}
    </div>
    <div class="form-group">
      <label for="notes">Information</label>
      {{input value=notes id="notes" class="form-control"}}
    </div>
    <button class="btn btn-default" {{action 'saveQuestion'}}>Save Question</button>
  </form>
{{else}}
  <button class="btn btn-default" id="newQButton" {{action 'showQuestionForm'}}>Add New Question</button>
{{/if}}
